@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #192236;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24314d;
}

.chat-container {
  scroll-behavior: smooth;
  overflow-y: auto;
}
